body {
	margin:0;
	padding:0;
}

div,span,h1,h2,h3,h4,h5,h6 {
	margin:0;
	padding:0;
}

.clear {
	clear:both;
}

.top-cont {
	width:1250px;
	height:auto;
	margin:auto;
}

.logo {
	width:507;
	height:325;
	float:left;
	margin-top:5px;
}

.btn-cont {
	width:259px;
	height:auto;
	float:right;
	margin:70px 20px 30px 20px;
}

.btn-cont .one {
	width:259px;
	height:auto;
	float:left;
}

.btn-cont .one .link1 {
	width:259px;
	height:30px;
	float:left;
	margin:0 8px 4px 0;
	background:url(../images/register_btn.gif) bottom;
	display:block;
	cursor:pointer; 
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:17px;
	text-decoration:none;
	padding-top:11px;
	color:white; 
	text-align:center; 
	vertical-align:center;
}

.btn-cont .one .link1:hover {
	background-position:0 0;
}

.btn-cont .one .link2 {
	width:259px;
	height:31px;
	float:left;
	margin-right:8px;
	background:url(../images/signin_btn.gif) bottom;
	display:block;
	cursor:pointer; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	text-decoration:none;
	padding-top:10px;
	color:white; 
	text-align:center;
	vertical-align:center;
}

.btn-cont .one .link2:hover {
	background-position:0 0;
}

.btn-contt2 {
	width:560px;
	height:auto;
	float:right;
}

.btn-contt2 .two {
	width:560px;
	height:auto;
	float:left;
	margin-top:65px;
}

.btn-contt2 .two ul {
	margin:0;
	padding:0;
}

.btn-contt2 .two ul li {
	margin:0;
	padding:0;
	display:inline;
}

.btn-contt2 .two .link3 {
	width:80px;
	height:50px;
	float:right;
	margin:10px 19px 0 0;
	background:url(../images/home_btn.gif) bottom;
	display:block;
	cursor:pointer; 
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:17px;
	color:#000;
	text-decoration:none;
	padding-top:30px;
	text-align:center; 
	vertical-align:center;
}

.btn-contt2 .two .link3:hover {
	background-position:0 0;
	color:#fff;
}

.btn-contt2 .two .link4 {
	width:80px;
	height:50px;
	float:right;
	margin:10px 19px 0 0;
	background:url(../images/profile_btn.gif) bottom;
	display:block;
	cursor:pointer; 
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:17px;
	color:#000;
	text-decoration:none;
	padding-top:30px;
	text-align:center;99
	vertical-align:center;
}

.btn-contt2 .two .link4:hover {
	background-position:0 0;
	color:#fff;
}

.btn-contt2 .two .link5 {
	width:70px;
	height:50px;
	float:right;
	margin:10px 19px 0 0;
	background:url(../images/group_btn.gif) bottom;
	display:block;
	cursor:pointer; 
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:17px;
	text-decoration:none;
	padding:30px 0 0 10px; 
	vertical-align:center;
}

.btn-contt2 .two .link5:hover {
	background-position:0 0;
	color:#fff;
}

.btn-contt2 .two .link6 {
	width:70px;
	height:50px;
	float:right;
	margin:10px 19px 0 0;
	background:url(../images/events_btn.gif) bottom;
	display:block;
	cursor:pointer; 
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:17px;
	text-decoration:none;
	padding:30px 0 0 10px;
	vertical-align:center;
}

.btn-contt2 .two .link6:hover {
	background-position:0 0;
}

.btn-contt2 .two .link7 {
	width:93px;
	height:60px;
	float:right;
	margin-right:10px;
	background:url(../images/babysitter.gif) bottom;
	display:block;
	cursor:pointer; 
	color:#000; 
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:17px;
	text-decoration:none;
	padding:40px 0 0 7px;
	vertical-align:center;
}

.btn-contt2 .two .link7:hover {
	background-position:0 0;
	color:#fff;
}

.content-cont1 {
	width:100%;
	height:auto;
	float:left;
	background-color:#f6f6f6;
	font-family:"Myriad Pro";
	font-weight:normal;
	font-size:39px;
	color:#222;
	text-decoration:none;
	text-align:center;
	padding:20px 0 25px;
	line-height:35px;
}

.content-cont2 {
	width:100%;
	height:80px;
	float:left;
	background-color:#359edf;
	font-family:"Myriad Pro";
	font-weight:normal;
	font-size:39px;
	color:#fff;
	text-decoration:none;
	text-align:center;
	padding:20px 0 25px;
	line-height:35px;
}


.content-cont1 .ste-cont {
	font-size:20px;
	font-family:Georgia, "Times New Roman", Times, serif;
}

#slider-cont {
	width:100%;
	height:auto;
	float:left;
	padding:80px 0;
}

.slider-cont-incont {
	width:10002px;
	height:auto;
	float:left;
}

#slider-contt1 {
	width:100%;
	height:auto;
	float:left;
	padding:80px 0;
	background-color:#FF9;
}

#slider-contt2 {
	width:100%;
	height:auto;
	float:left;
	padding:80px 0;
}

.footer-cont {
	width:100%;
	height:auto;
	float:left;
}

.footer-contin {
	width:1002px;
	height:auto;
	margin:80px auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:normal;
	color:#222;
	text-decoration:none;
	text-align:center;
	
}

.footer-contin .icons {
	width:350px;
	height:auto;
	margin:0 auto 40px;
}

.footer-contin .icons .icont {
	width:58px;
	height:58px;
	float:left;
	padding-right:12px;
}


#autocolor{
	width: 1000px;
	height: 700px;
	padding: 0.75em 0.5em 0;
	text-align: center;
	border: 1px solid black;
	margin: 3em auto 0;
	font: bold 90% sans-serif;
}

.register-cont-out {
	width:700px;
	height:auto;
	margin:auto;
}

.register-cont {
	width:500px;
	height:auto;
	float:left;
	margin-bottom:15px;
	padding-left:100px;
}

.register-cont .msg {
	width:450px;
	height:auto;
	margin:auto;
	padding:7px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
	color:#fff;
	background-color:#ac7924;
	line-height:19px;
}

.register-cont .textout1 {
	width:550px;
	height:auto;
	margin:auto;
	margin-top:15px;
}

.register-cont .textout {
	width:550px;
	height:auto;
	margin:auto;
}

.register-cont .text1 {
	width:150px;
	height:auto;
	float:left;
	padding:7px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	color:#2c2c2c;
}

.register-cont .text2 {
	width:300px;
	height:12px;
	float:left;
	padding:7px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	color:#2c2c2c;
	border:none;
	border:solid 1px #d3d37a;
}

.register-cont .text3 {
	width:250px;
	height:145px;
	float:left;
	padding:7px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
	text-decoration:none;
	color:#2c2c2c;
}

.register-cont .sbtn-cont {
	width:230px;
	height:auto;
	float:left;
	margin-top:7px;
}

.register-cont .sbtn {
	width:110px;
	height:25px;
	float:right;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	font-weight:normal;
	color:#fff;
	text-decoration:none;
}

.register-cont .sbtn a,link visited {
	background-color:#64a300;
	color:#fff;
	text-decoration:none;
	border-radius:15px;
	padding:5px 15px 6px;
}

.register-cont .sbtn a:hover {
	background-color:#0156c9;
	color:#fff;
	text-decoration:none;
	border-radius:15px;
	padding:5px 15px 6px;
}

.register-cont .sbtn2 {
	width:110px;
	height:25px;
	float:right;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	font-weight:normal;
	color:#fff;
	text-decoration:none;
}

.register-cont .sbtn2 a,link visited {
	background-color:#c2d974;
	color:#000;
	text-decoration:none;
	border-radius:15px;
	padding:5px 25px 6px;
}

.register-cont .sbtn2 a:hover {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	border-radius:15px;
	padding:5px 25px 6px;
}

.c-headingout {
	width:300px;
	height:auto;
	float:left;
	padding:0 0 0 42px;
}

.c-heading {
	width:300px;
	height:40px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:29px;
	text-decoration:none;
	color:#000;
	border-bottom:solid 1px #000;
	margin-bottom:35px;
}

